[Unit]
Description=Surveying server power statement
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/var/www/wakeserver/daemon/wakeserverd
Restart=on-failure
RestartSec=10
KillMode=control-group

[Install]
WantedBy=multi-user.target
