html {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18pt;
  padding: 12px;
  padding-left: 60px;
  border-bottom: #c0c0c0 1px solid;
  background-color: rgba(255,255,255,0.95);
  z-index: 10;
}

header .logo { 
  position: fixed;
  top: 12px;
  left: 20px;
  width: 1.2em;
  height: 1.2em;
}

.server-list {
  display: table;
  width: calc(100% - 80px);
  border: #c0c0c0 1px solid;
  margin: 40px;
  margin-top: 80px;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.server-entry {
  display: table-row;
  width: 100%;
  height: 180px;
  padding: 0;
  cursor: pointer;
  transition: .3s linear;
}

.server-entry:hover { 
  background-color: #D2FFFE;
}

.server-entry > div { 
  border-top: #c0c0c0 1px solid;
}

.server-entry:first-child > div{
  border-top: 0;
}

.server-entry .indicator { 
  display: table-cell;
  position: relative;
  width: 70px;
  text-align: center;
  vertical-align: middle;
}

.on-indicator, .off-indicator {
  position: absolute;
  width:24px;
  height:24px;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(30, 82, 27);
}

.on-indicator {
  background-color: rgb(81, 221, 73);
  z-index: 5;
  transition: .3s linear;
}

.off-state { 
  opacity: 0;
}

.transit-to-on {
  animation-duration: 1.2s;
  animation-name: blink-off-on;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, .38, 1);
}

@keyframes blink-off-on { 
  from {
    opacity: 0;
  }

  to { 
    opacity: 1;
  }
}

.server-entry .icon {
  display: table-cell;
  width: 150px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.server-entry .icon span {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.server-entry .description {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
  font-size: 13pt
}

.description h1 {
  font-size: 34pt;
  font-weight: 200;
  margin: 0;
  margin-bottom: 0.2em;
}

.description p { 
  margin: 0;
  margin-top: 0.25em;
}

/* for small screen device */
@media screen and (max-width: 767px) {
  header {
    font-size: 14pt;
    padding: 12px;
    padding-left: 60px;
    border-bottom: #c0c0c0 1px solid;
  }

  .server-list {
    width: 100%;
    margin: 0;
    margin-top: 49px;
    border: 0;
    box-shadow: 0 0 0 0;
  }

  .server-entry {
    height: 115px;
  }

  .server-entry:hover { 
    background-color: white;
  }

  .server-entry > div { 
    border-top: 0;
    border-bottom: #c0c0c0 1px solid;
  }

  .server-entry:first-child > div{
    border-top: #c0c0c0 1px solid;
  }

  .server-entry .indicator { 
    width: 50px;
  }

  .on-indicator, .off-indicator {
    width: 16px;
    height: 16px;
  }

  .server-entry .icon {
    width: 64px;
  }
  
  .server-entry .icon span {
    width: 64px;
    height: 64px;
  }

  .server-entry .description {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 10pt
  }
  
  .description h1 {
    font-size: 24pt;
    font-weight: 200;
    margin: 0;
    margin-bottom: 0.1em;
  }
  
  .description p { 
    font-family: sans-serif;
    margin: 0;
    margin-top: 0.1em;
    color: #707070;
  }
}
